#exhibition{
  margin-bottom: 5vh;
}
#exhibition h1{
  color: #252525;
  font-family: RobotoBold;
}
#exhibition p{
  font-size: 16px;
  color: #121212;
  font-family: RobotoLight;
}
.text h3{
  font-size: 5vw;
}
#slideImgActive{
  display:block;
}
.home-Carousel-container{
  display: flex;
  width: 100%;
  height: 30vh !important;
  overflow-x: scroll;
  position: relative;
}
.home-Carousel-container img{
  display: block;
  margin-right: 10%;
  width: auto;
  max-width: 100%;
  height: 30vh ;
}
.text{
  width: 100%;
  height:10vh;
  font-size:3vw;
  overflow:hidden;
  word-wrap: break-word;
}
.text h1{
  cursor: pointer;
  font-size: 5vw;
  background-color: white;
}
.see_more_height{
  height: auto !important;
}
#input_test{
  display: none;
}
.mySlides{
  display: none;
}
.nextBut,.prevBut{
  display: none;
}
  
/* .rotateLeft{
  transform: rotate(90deg);
}
.rotateRight{
  transform: rotate(-90deg);
}

.pages{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 4vh;
  margin-left: 20%;
  cursor: pointer;
}
.page-item{
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  background: #252525;
  color:white;
  border-radius: 3px;
  font-family: Lobster;
}
.pages-web{
  display: none;
} */

@media only screen and (min-width:1025px){
  .text{font-size:1.2vw;}
  .exhibition h1{
    font-size: 1.8vw;
    font-family: RobotoBold;
  }
  .exhibition p{
    font-size: 1.2vw;
    font-family: RobotoLight;
  }
  .home-Carousel-container{
    margin: 2vh 0 2vh 0;
    width: 100%;
    height: 80vh !important;
    background: #FFFFFF;
    display: block;
    position: relative;
  }
  .home-Carousel-container img{
    position: absolute;
    min-width: 60% !important;
    max-width: 100% !important;
    height: 80vh;
  }
  .pages{
    display: none;
  }
  .pages-web{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 4vh;
    margin-left: 20%;
  }
  .nextBut,.prevBut{
    display: block;
    width:4%;
    border-radius:5px;
    opacity:0.5;
    outline:0;
    border:0;
  }
  .nextBut:hover,.prevBut:hover{
    background-color: black;
    outline:0;
    border:0;
    opacity: 1;
  }
  
  .text h3{
    font-size: 1.2vw;
  }
}
