.left-side-content {
    width:40%;
    height:80vh;
    margin-right:10%;
    position:relative;
    float:left;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    align-items:center;
    
}
.left-side-content div{
    width:100%;
    height:47%;
    transition:1s;
    border-radius:5px;
}
.left-side-content input{
    box-shadow: none;
    height:45%;
    width: 100%;
    background:#DCDCDC;
    color:#252525;
}
.left-side-content input::placeholder{
    color: #252525;
}
.left-side-content img{
    float:left;
    border-radius:5px;
    width:100%;
    height:100%;
}

.profile_pic{
    width: 100%;
    height: 37vh;
    transition:2s;
}
.profile_pic img{
    width: 100%;
    height: 37vh;
}

.upload_image{
    position: absolute;
    width:100%;
    height:35vh !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}
.upload_image:hover{
    opacity: 1;
    display: flex;
}
.upload_image:hover > .upload_image img{
    display: none; 
    /* aq unda iyos ro uploadis icon ro amova profile pic rac ari cota opacity misces mara chgemi yle hovers ar shveba */
}
.upload_image input[type="file"]{
    opacity: 0;
    z-index: -1; 
    position: absolute;
}
.upload_image label{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url("assets/images/upload.png") ;
    width: 100%;
    height: 30vh;
}
.upload_image label img{
    cursor: pointer;
    width: 60%;
}
.upload_image input[type="submit"]{
    width: 30%;
    text-align: center;
    height: 5vh;
    border-radius: 25px;
}
/* right */

.right-side-content {
    color:#252525;
    user-select:none;
    width:50%;
    height:80vh;
    position:relative;
    float:left;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    align-items:center;
}

.right-side-content div{
    width:100%;
    height:10vh;
}
.right-side-content > div > label{
    margin-bottom:1vh;
    float:left;
    width:100%;
}
.right-side-content i{
    float:right;
}
.right-side-content input{
    box-shadow: none;
    width:90%;
    float:left;
    background:#DCDCDC;
    color:#252525;
    border-radius:4px;
    height:5vh;
}
.right-side-content label[for="birthdate"]{text-align:right;}

.right-side-content input[type="date"]{
    cursor:pointer;
    float:left;
    width:90%;
}
.save,
.discard{
    width:30%;
    color:white;
    background:#AF1F1F;
    height:5vh;
    border-radius:5px;
    float:left;
    margin-top:7%;
    box-shadow:none;
    font-size:1.3vw;
    letter-spacing:3px;
}
.save{
    background:#1FAF1F;
    margin-right:30%;
}
.right-side-content i[data-type="error"]{ color:#AF1F1F; }
.right-side-content i[data-type="done"]{ color:#1FAF1F; }