#id{
  margin: 0 0 5vh 0;
}
#id h1{
  color: #252525;
  font-family: bold;
}
#id p{
  font-size: 12px;
  color: #121212;
}
.carousel-container{
  margin: 2vh 0 2vh 0;
  width: 100%;
  height: 30vh;
  background: #C4C4C4;
}
.user-info{
  width: 100%;
  height: 5vh;
}
.user-info img{
  float: left;
  width: 10%;
  height: 5vh;
  border-radius: 100%;
  border:0.1px solid black;
  margin-right: 4%;
}
.user-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5vh;
}
.user-text p{
  font-size: 9px;
  color:#858585;
}
.user-text h1{
  font-size: 12px;
  color:#252525;
}

.text h1{
  font-size: 16px;
  color: #000000;
}
.text p{
  margin-top: 2vh;
  font-size: 12px;
  color: #121212;
}
